body{
color: #000305;	
}
.container{
	color: red ;
	width= 70%;
}

#mynavbar{
	background: orange;	
}

.nav a{
	color: red;
	style: bold;
}

.navbar-brand{
	 padding: 13px 15px;
}

#mycarousel {
	margin-top: 57px;
		
}

#mycarousel .item {
	height: 400px;
}

.carousel-caption {
	font-size: 24px;
}

.carousel-caption h4{
	font-size: 32px;
}

#slide1 {
	background: url('<c:url value="/resources/images/20150607_160943.jpg"/>') top center no-repeat; 
}
#slide2 {
	background: url('<c:url value="/resources/images/20150607_160950.jpg"/>') top center no-repeat; 
}
#slide3 {
	background: url('<c:url value="/resources/images/20150607_161002.jpg"/>') top center no-repeat; 
}

#myrow1 {
	width: 104%;
}
.panel{
	margin-top: 5px;
	margin-right: 20px;
}

#panel1 {
	background: url('<c:url value="/resources/images/20150607_161002.jpg"/>') top center no-repeat; 
	margin: 7px 5px 2px 0px;
	float: left; 
	width: 100%;
}

#panel2 {
	background: url('<c:url value="/resources/images/20150607_161002.jpg"/>') top center no-repeat; 
	margin: 7px 5px 2px 5px;
	float: left;  
	width: 100%;
}

#panel3 {
	background: url('<c:url value="/resources/images/20150607_161002.jpg"/>') top center no-repeat; 
	margin: 7px 0px 2px 5px;
	float: left;
	width: 100%;  
	
}

.panel-heading h3{
	font-size: 24px;
	font-style: bold;
	text-align: center;
}

.panel p {
	font-size: 16px;
	font-style: italics;
	text-align: center;
}

#footer {
	margin-top: 5px;
	background: grey;
	padding: 7px ;
}